.weather-wrapper {
    background-color: #ffffff;
    margin: 2%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.location-header{
    font-family: 'Montserrat', sans-serif;
}

.month-avg-wrapper{
    display: flex;
    justify-content: space-around;
}

.table-section {
    margin-left: 6%;
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.month-avg-graph {
    padding-top: 5%;
    width: 40%;
    margin-right: 5%;
}

tbody, thead {
    text-align: center
}

tr {
    cursor: pointer;
}