@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.navbar-container {
    background-color: #24252A;

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.navbar-logo {
    font-family: 'Style Script', cursive;
    cursor: pointer;
    text-decoration: none;
    font-size: 35px;
    color: rgb(211, 209, 209);
}
